@charset "utf-8";
/* CSS Document */

* { 
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.nav li a:hover {
	background-color: transparent;
}

header h1 {
	margin-left: 25px;
	padding-top: 10px;
}

.home2_body {
	margin-left: 100px;
	margin-right: 100px;	
}

#secondary2_body {
	margin-left: 250px;
	margin-right: 250px;
}	

#secondary3_body {
	margin-left: 250px;
	margin-right: 250px;
}

footer {
    border: 5px solid #000;
	height: 100px;
}


.home2 {
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	
}


.home2 ul {
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}

@media (min-width: 320px) {
	.home2 ul li {
		padding-right: 0px;
		padding-left: 10px;
	}
}

@media (min-width: 480px) {
	.home2 ul li {
		padding-right: 0px;
		padding-left: 10px;
	}
}

@media (min-width: 768px) {
	.home2 ul li {
		padding-right: 0px;
		padding-left: 10px;
	}
}

@media (min-width: 992px) {
	.home2 ul li {
		padding-right: 5px;
		padding-left: 25px;
	}
}

@media (min-width: 1200px) {
	.home2 ul li {
		padding-right: 35px;
		padding-left: 25px;
	}
}


aside {
    float: left;
    width: 30%;
    border: 5px solid #000;
    height: 300px;
}


.home2_section {
    float: left;
    width: 100%;
    border: 5px solid #000;
    height: 300px;
}

.about_content {
	width: 100%;
}

.about_content h1 {
	margin-left: 775px;
}

.about_content p {
	margin-right: 30px;
	margin-left: 350px;
}

.about_content img {
	float: left;
}


.secondary2 {
	width: 100%;
	background-color: #daeeff;
	height: 650px;
}
header {
	background-color: #586380;
	overflow: hidden;
}
.nav li a {
	color: #b8b8b8;
}



.secondary2 img {
	display: block;
	float: right;
}



.secondary2 p {
	margin-left: 40px;
	text-align: left;
	width: 40%;
	text-indent: 15px;
}

.secondary2 h1 {
	text-align: center;
	margin-bottom: 50px;
	padding-top: 50px;	
}

#contact_form {
	margin-left: 150px;
	margin-right: 150px;
}

legend {
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
}

label {
	margin-top: 15px;
	float: left;
	margin-left: 100px;
	font-weight: bold;	
}

input {
	height: 50px;
	width: 150px;
	font-size: 16px;	
}

#FirstName {
	margin-top: 15px;
	margin-left: 25px;
	width: 50%;
}

#LastName {
	margin-top: 15px;
	margin-left: 25px;
	width: 50%;
}

#Comments {
	margin-top: 15px;
	margin-left: 25px;
	width: 50%;
	height: 100px;
}

.clear {
    clear: both;
}
.nav_hover {

}

.work {
	background-color: #6facff;
	height: 650px;
}
.about {
	background-color: #ff8151;
	height: 650px;
}
.contact {
	background-color: #ff4872;
	height: 650px;
}

.work h1 {
	text-align: center
}

.about h1 {
	text-align: center
}
.contact h1 {
	text-align: center
}
.skew_color {
	overflow:hidden;
	padding-top: 800px;
	position: absolute;
	transform: skewY(-40deg);
	background-color: #717d9c;
}
